@using OGDMovies.Common.Enums
@using OGDMovies.Web.Enums
@using OGDMovies.Web.Models
@model OGDMovies.Common.Models.AggregatedModel

<link href="~/Content/overflowBlock.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@{
    var showPagination = (!string.IsNullOrEmpty(Model.Page) && !string.IsNullOrEmpty(Model.TotalPages));
    int.TryParse(Model.Page, out var currentPage);
}
<!-- Movie Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        @if (Model != null)
        {
            if (showPagination)
            {
                <div align="right" style="padding: 10px">
                    Page <span class="badge" style="background-color: darkgrey">@Model.Page</span> of <span class="badge" style="background-color: darkgrey">@Model.TotalPages</span>
                </div>
            }

            <div>
                @foreach (var movieItem in Model.MovieResults)
                {
                    @Html.Partial("_GridList", new ThumbnailViewModel(movieItem))
                }
            </div>
        }
    </div>
    @if (showPagination)
    {
        <div align="right" style="padding: 10px">
            Page <span class="badge" style="background-color: darkgrey">@Model.Page</span> of <span class="badge" style="background-color: darkgrey">@Model.TotalPages</span>
        </div>
        <ul class="pager">
            @if (Model.RelevanceType == MovieRelevance.Search)
            {
                //Paging for search results
                <li>
                    @if (currentPage == 1)
                    {<a href="#" disabled>Previous</a>}
                    else
                    {@Html.ActionLink("Previous", "Search", new { query = ViewBag.Query, page = currentPage - 1 }, new { disabled = true })}
                </li>
                <li>
                    @if (currentPage == int.Parse(Model.TotalPages))
                    {<a href="#">Next</a>}
                    else
                    {@Html.ActionLink("Next", "Search", new { query = ViewBag.Query, page = currentPage + 1 })}
                </li>
            }
            else
            {
                //Paging for relevance type
                <li>
                    @if (currentPage == 1)
                    {<a href="#">Previous</a>}
                    else
                    {@Html.ActionLink("Previous", "Relevance", new { relevance = Model.RelevanceType.ToString(), page = currentPage - 1 })}
                </li>
                <li>
                    @if (currentPage == int.Parse(Model.TotalPages))
                    {<a href="#">Next</a>}
                    else
                    {@Html.ActionLink("Next", "Relevance", new { relevance = Model.RelevanceType.ToString(), page = currentPage + 1 })}
                </li>
            }
        </ul>
    }
</div>

<!-- Youtube Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Youtube</h1>
        </div>
        @if (Model != null)
        {
            foreach (var youtubeItem in Model.YoutubeResults)
            {
                @Html.Partial("_GridList", new ThumbnailViewModel(youtubeItem))
            }
        }
    </div>
</div>

<!-- Modal -->
@Html.Partial("_ModalInfo")

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
        $('[data-toggle="popover"]').on('click', function (e) { e.preventDefault(); return true; });
    });
</script>
<script src="~/Scripts/js/modalClick.js"></script>