@using OGDMovies.Common.Enums
@using OGDMovies.Web.Enums
@using OGDMovies.Web.Models
@model OGDMovies.Common.Models.AggregatedModel

<link href="~/Content/overflowBlock.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@{
    var showPagination = (!string.IsNullOrEmpty(Model.Page) && !string.IsNullOrEmpty(Model.TotalPages));
    int.TryParse(Model.Page, out var currentPage);
}
<!-- Movie Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        @if (Model != null)
        {
            if (showPagination)
            {
                <div align="right" style="padding: 10px">
                    Page <span class="badge" style="background-color: darkgrey">@Model.Page</span> of <span class="badge" style="background-color: darkgrey">@Model.TotalPages</span>
                </div>
            }

            <div>
                @foreach (var movieItem in Model.MovieResults)
                {
                    @Html.Partial("_GridList", new ThumbnailViewModel(movieItem.Id, movieItem.Title, movieItem.ImageUrl, movieItem.Plot, ThumbnailType.Movie))
                }
            </div>
        }
    </div>
    @if (showPagination)
    {
        <div align="right" style="padding: 10px">
            Page <span class="badge" style="background-color: darkgrey">@Model.Page</span> of <span class="badge" style="background-color: darkgrey">@Model.TotalPages</span>
        </div>
        <ul class="pager">
            @if (Model.RelevanceType == MovieRelevance.Search)
            {
                <li>
                    @if (currentPage == 1)
                    {<a href="#" disabled>Previous</a>}
                    else
                    {@Html.ActionLink("Previous", Model.RelevanceType.ToString(), new { query = ViewBag.Query, page = currentPage - 1 }, new { disabled = true })}
                </li>
                <li>
                    @if (currentPage == int.Parse(Model.TotalPages))
                    {<a href="#">Next</a>}
                    else
                    {@Html.ActionLink("Next", Model.RelevanceType.ToString(), new { query = ViewBag.Query, page = currentPage + 1 })}
                </li>
            }
            else
            {
                <li>
                    @if (currentPage == 1)
                    {<a href="#">Previous</a>}
                    else
                    {@Html.ActionLink("Previous", Model.RelevanceType.ToString(), new { page = currentPage - 1 })}
                </li>
                <li>
                    @if (currentPage == int.Parse(Model.TotalPages))
                    {<a href="#">Next</a>}
                    else
                    {@Html.ActionLink("Next", Model.RelevanceType.ToString(), new { page = currentPage + 1 })}
                </li>
            }
        </ul>
    }
</div>

<!-- Youtube Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Youtube</h1>
        </div>
        @if (Model != null)
        {
            foreach (var youtubeItem in Model.YoutubeResults)
            {
                @Html.Partial("_GridList", new ThumbnailViewModel(youtubeItem.Id, youtubeItem.Title, youtubeItem.ImageUrl, youtubeItem.Description, ThumbnailType.Youtube))
            }
        }
    </div>
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade"  role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="ModalHeader" class="modal-title">yyy</h4>
            </div>
            <div class="modal-body">
                <div align="center">
                    <img id="ModalImage" src="" class="thumbnail" style="height: 400px">
                    <iframe id="ModalVideo" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p id="ModalBody">This is a large modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
        $('[data-toggle="popover"]').on('click', function (e) { e.preventDefault(); return true; });
    });
</script>
<script src="~/Scripts/js/modalClick.js"></script>