@using OGDMovies.Web.Enums
@using OGDMovies.Web.Models
@model OGDMovies.Common.Models.AggregatedModel

<link href="~/Content/heroic-features.css" rel="stylesheet" />
<link href="~/Content/overflowBlock.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
        <p>Here you will find info on the leatest and trending movies. Feel free to browse and search for you favourite movies and videos.</p>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Top Five Movies</h3>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="">
            @{
                var counter = 0;
                foreach (var movie in Model.MovieResults.Take(5))
                {
                    var active = counter > 0 ? "" : "active";
                    <div class="item @active" align="center">
                        <img src="@movie.ImageBackdropUrl" alt="@movie.Title" class="img-responsive">
                        <div class="carousel-caption">
                            <h3>@movie.Title</h3>
                        </div>
                    </div>
                    counter++;
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <hr>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest on Youtube</h3>
        </div>
    </div>
    @{
        var topFourYoutube = Model.YoutubeResults.Take(4).ToList();
        foreach (var youtubeModel in topFourYoutube.Select(s =>  new ThumbnailViewModel(s)))
        {
            var link = $"https://www.youtube.com/embed/{youtubeModel.Id}";
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="#" data-toggle="modal" data-target="#myModal" style="height: 150px;" onclick="onModalClick('@youtubeModel.ToJson()', '@link')">
                        <img src="@youtubeModel.ImageUrl" alt="@youtubeModel.Title">
                        <div class="caption">
                            <h4 class="block-with-text" style="height: 20px">@youtubeModel.Title</h4>
                            <p class="block-with-text">@youtubeModel.Description</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
</div>

<!-- Modal -->
@Html.Partial("_ModalInfo")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/modalClick.js"></script>